{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["**/*test.js, **/*test.tsx"],
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true, "tsx": true },
    "ecmaVersion": "latest",
    "project": ["./tsconfig.json"],
    "sourceType": "module"
  },
  "plugins": ["react", "eslint-plugin-no-inline-styles"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "no-inline-styles/no-inline-styles": 2,
    "no-unused-vars": ["warn", { "varsIgnorePattern": "React" }],
    "react/no-multi-comp": ["error", { "ignoreStateless": false }],
    "react/no-unstable-nested-components": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".native.js"]
      }
    }
  }
}
